<div class='container'>
    <h1>All Games</h1>
    <!--
    <ul>
        <li *ngFor='let game of games'>
            Name : {{ game.name }}<br /> Description : {{ game.description }}<br /> Price : {{ game.price }}
        </li>
    </ul>
  -->
    <table id="table" class="table">
        <tr>
          <th scope="col"></th>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
        </tr>
        <tr *ngFor='let game of games; let index = index'>
          <td><a [routerLink]="['remove',game.name]"><img src="../../assets/delete.jpg" alt="deleteImg" style="height: 25px;"></a></td>
          <td scope="row">{{ index + 1}}</td>
          <td>{{ game._id }}</td>
          <td><a [routerLink]="['edit',game.name]">{{ game.name }}</a></td>
          <td>{{ game.description }}</td>
          <td>{{ game.price }}</td>
        </tr>
      </table>
</div>